<div class="{{ type }}-hero-container" style="background-image:url( {{ hero-image }} )">
  <div class="{{ type }}-title">{{ hero-title }}</div>
  <div class="{{ type }}-copy">{{ hero-copy }}</div>
</div>