
<div class="mdl-cell mdl-cell--6-col mdl-cell--3-col-tablet mdl-cell--4-col-phone">
  <img class="home-card-image" src="{{ image }}"/>
  <div class="home-card-action">{{ action }}</div>
  <div class="home-card-title">{{ title }}</div>
  <div class="home-card-desc">{{ desc }}</div>
  <div class="home-card-cta-button"><a href="{{ link }}">Start Exploring</a></div>
</div>
